<main>
    <div class="unitContainer">
        <p class="p1">
【來點好食在的漢堡王買一送一！】

8/ 25 起至 9/7，於漢堡王選擇 花生培根脆雞堡 享買一送一！
香濃花生醬搭配經典酥炸脆雞，濃郁的魅力就在 Uber Eats！

⚠️注意事項 ⚠️
* 活動期間為 2021/08/25 -2021/09/07
* 本優惠活動，買一送一餐點，數量有限，售完為止
* 活動期間每人於每家指定活動餐廳僅限使用本活動乙次，即僅限於該家指定活動餐廳取得買一送一餐點優惠乙次
* 活動內容為每兩個活動單品可享一個免費，以此類推每四個單品則兩個免費。惟活動單品訂購數量若為奇數，則僅有成對部分享有優惠，例如，每五個單品則兩個免費
* 買一送一活動不包含客製化加價項目，加價項目需依加價商品數量另外付費
* 各別餐廳優惠不同，以各別餐廳實際優惠情形為主
* 本活動優惠可與優饗方案及其他優惠序號同時使用
* 本活動之品項金額不納入其他優惠折抵之計算
* Uber Eats 保有對本優惠之所有解釋、修改、調整、終止等相關權利，未盡事宜則以 Uber Eats App 內公告為主
        </p>
    </div>

    <div class="unitContainer">
        <div class="row row-cols-1  row-cols-lg-3 ">
            <!-- 卡片區塊 -->
            <div class="cardCol">
                <div class="foodCard" style="cursor:pointer;">
                    <a href="#" style="text-decoration:none;">
                        <div class="headline">
                            <img class="pic" src="https://picsum.photos/300/100/?random=1">
                            <div class="dark"><i class="fas fa-moon"></i>已關閉</div>
                            <div class="Tag">買1送1</div>
                        </div>
                        <div class="foodText">
                            <div class="shopNameandPoint">
                                <div class="shopName">Burger King漢堡王 松山店</div>
                                <div class="point">4.7</div>
                            </div>
                            <div class="TWD">
                                <span class="ntd">55TWD 費用</span>
                                <div class="dotSpace"><span class="dot"> • </span></div>
                                <span class="min">25–35 分鐘</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="touchZone" style="cursor:pointer;">
                    <div class="favoriteHeart">
                        <div class="switchP" onclick="clickChangeC()">
                            <!-- 空心 -->
                            <i class="far fa-heart hEmpty"></i>
                            <!-- 實心 -->
                            <i class="fas fa-heart hSolid"></i>
                            <i class="fas fa-heart hSolid4hover"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cardCol">
                <div class="foodCard" style="cursor:pointer;">
                    <a href="#" style="text-decoration:none;">
                        <div class="headline">
                            <img class="pic" src="https://picsum.photos/300/100/?random=2">
                            <div class="dark"><i class="fas fa-moon"></i>已關閉</div>
                            <div class="Tag">買1送1</div>
                        </div>
                        <div class="foodText">
                            <div class="shopNameandPoint">
                                <div class="shopName">Burger King漢堡王 松山店</div>
                                <div class="point">4.7</div>
                            </div>
                            <div class="TWD">
                                <span class="ntd">55TWD 費用</span>
                                <div class="dotSpace"><span class="dot"> • </span></div>
                                <span class="min">25–35 分鐘</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="touchZone" style="cursor:pointer;">
                    <div class="favoriteHeart">
                        <div class="switchP" onclick="clickChangeC()">
                            <!-- 空心 -->
                            <i class="far fa-heart hEmpty"></i>
                            <!-- 實心 -->
                            <i class="fas fa-heart hSolid"></i>
                            <i class="fas fa-heart hSolid4hover"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cardCol">
                <div class="foodCard" style="cursor:pointer;">
                    <a href="#" style="text-decoration:none;">
                        <div class="headline">
                            <img class="pic" src="https://picsum.photos/300/100/?random=3">
                            <div class="dark"><i class="fas fa-moon"></i>已關閉</div>
                            <div class="Tag">買1送1</div>
                        </div>
                        <div class="foodText">
                            <div class="shopNameandPoint">
                                <div class="shopName">Burger King漢堡王 松山店</div>
                                <div class="point">4.7</div>
                            </div>
                            <div class="TWD">
                                <span class="ntd">55TWD 費用</span>
                                <div class="dotSpace"><span class="dot"> • </span></div>
                                <span class="min">25–35 分鐘</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="touchZone" style="cursor:pointer;">
                    <div class="favoriteHeart">
                        <div class="switchP" onclick="clickChangeC()">
                            <!-- 空心 -->
                            <i class="far fa-heart hEmpty"></i>
                            <!-- 實心 -->
                            <i class="fas fa-heart hSolid"></i>
                            <i class="fas fa-heart hSolid4hover"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cardCol">
                <div class="foodCard" style="cursor:pointer;">
                    <a href="#" style="text-decoration:none;">
                        <div class="headline">
                            <img class="pic" src="https://picsum.photos/300/100/?random=4">
                            <div class="dark"><i class="fas fa-moon"></i>已關閉</div>
                            <div class="Tag">買1送1</div>
                        </div>
                        <div class="foodText">
                            <div class="shopNameandPoint">
                                <div class="shopName">Burger King漢堡王 松山店</div>
                                <div class="point">4.7</div>
                            </div>
                            <div class="TWD">
                                <span class="ntd">55TWD 費用</span>
                                <div class="dotSpace"><span class="dot"> • </span></div>
                                <span class="min">25–35 分鐘</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="touchZone" style="cursor:pointer;">
                    <div class="favoriteHeart">
                        <div class="switchP" onclick="clickChangeC()">
                            <!-- 空心 -->
                            <i class="far fa-heart hEmpty"></i>
                            <!-- 實心 -->
                            <i class="fas fa-heart hSolid"></i>
                            <i class="fas fa-heart hSolid4hover"></i>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>

@section topCSS
    {
    <style>
        main{
            max-width:1920px;
            margin:auto;
        }
        .pic {
            width: 100%;
        }

        .dark {
            position: absolute;
            background-color: rgba(24, 24, 24, 0.788);
            top: 0;
            width: 100%;
            height: 100%;
            color: white;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: none;
        }

        .unitContainer {
            display: block;
            max-width: 98%;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            padding: 0 30px;
        }

        .row {
            margin-left: 0;
            margin-right: 0;
        }

        .p1 {
            margin: 0 16px;
            white-space: pre-wrap;
        }

        .Tag {
            line-height: 16px;
            display: inline-block;
            background-color: #05a357;
            border-radius: 0 24px 24px 0;
            color: #ffff;
            font-size: 14px;
            padding: 4px 12px;
            position: absolute;
            left: 0;
            top: 10px;
        }

        .headline {
            position: relative;
        }

        .cardCol {
            margin-bottom: 30px;
            display: flex;
            position: relative;
        }

        .touchZone {
            position: absolute;
            top: 0;
            right: 0;
        }

        .foodCard {
            width: 100%;
        }

        .favoriteHeart {
            display: flex;
            height: 28px;
            width: 50px;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            right: 0;
            top: 10px;
        }

        .switchP {
            position: relative;
            display: flex;
            width: 20px;
            height: 20px;
            justify-content: center;
            align-items: center;
        }

        .hSolid4hover {
            z-index: 2;
            position: absolute;
            color: rgb(177, 177, 177);
            display: none;
        }

        .hEmpty {
            position: absolute;
            color: rgb(253, 253, 253);
        }

        .switchP:hover .hEmpty {
            display: none;
        }

        .switchP:hover .hSolid4hover {
            z-index: 2;
            display: block;
        }

        .hSolid {
            z-index: 2;
            position: absolute;
            color: rgb(253, 253, 253);
            display: none;
        }

        .shopNameandPoint {
            display: flex;
            font-weight: 500;
            width: 100%;
            margin-top: 12px;
            align-items: center;
            flex-flow: wrap row;
            justify-content: space-between;
            color: black;
        }

        .point {
            display: flex;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            background: #EEEEEE;
            font-size: 12px;
            justify-content: center;
            align-items: center;
        }

        .shopName {
            font-size: 20px;
        }

        .TWD {
            display: flex;
            color: black;
        }

        .dotSpace {
            margin: 0 10px 0 10px;
        }

        @@media screen and (max-width:992px) {
            .favoriteHeart {
                display: flex;
                height: 28px;
                width: 50px;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 0;
                top: 10px;
            }
        }

        @@media screen and (min-width:992px) {
            .titleService {
                margin: 20px 0 20px 0;
                padding: 0 15px 0 15px;
            }

            .cardCol {
                margin-bottom: 30px;
                display: flex;
                position: relative;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    </style>
}

@section endJS
    {
    <Script>function clickChangeC() {

            let solid = event.path[1].childNodes[7];
            let empty = event.path[1].childNodes[3];


            if (solid.style.display == "block") {
                solid.style.display = "none"
                empty.style.display = "block"
            }
            else {
                solid.style.display = "block"
                empty.style.display = "none"
            }
        };</Script>
}

