<div class="container">
    <div class="row">
        <div class="captionItem col-12 col-xl-5">
            <div class="caption">
                <h1>Deliver with Uber in Taiwan</h1>
                <h4>No boss. Flexible schedule. Quick pay.</h4>
                <p>
                    Now you can earn cash by delivering the Uber Eats food orders that people crave—all while
                    exploring your city.
                </p>
            </div>
            <div class="captionPic">
                <img src="~/Assets/Images/deliverRegister.png" alt="圖片">
            </div>
        </div>
        <div class="space col-xl-1"></div>
        <form class="signInItem col-12 col-xl-6">
            <div class="row">
                <div class="signIn col-12">
                    <h3>立即註冊</h3>
                    <p>須執行以下步驟來完成帳戶設定</p>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="fileTxt btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                    駕照+身分證(需拍於同一個畫面)
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="fileOne">
                                <label for=""></label>
                                <input type="file">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="fileTxt btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    機車強制險(僅接受電子檔或正本)
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="fileTwo">
                                <label for=""></label>
                                <input type="file">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="fileTxt btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    個人大頭照
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                             data-parent="#accordionExample">
                            <div class="fileFour">
                                <label for=""></label>
                                <input type="file">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <button class="fileTxt btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                    良民證
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                             data-parent="#accordionExample">
                            <div class="fileFive">
                                <label for=""></label>
                                <input type="file">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <p>
                    繼續操作即表示本人同意 Uber 的使用條款，並確認已閱讀隱私政策。<br><br>
                    我亦同意 Uber 或其代表可透過我提供的電子郵件、電話、或簡訊與我聯絡 (包含透過自動方式)，而上述聯絡方式可包含銷售用途。
                </p>
            </div>
            <div class="deliverBtnAndSignIn">
                <button type="button" class="btn btn-dark">註冊成為合作外送夥伴</button>

            </div>
        </form>
    </div>
</div>

@section topCSS
{
    <style>
       .header {
    background-color: black;
    height: 64px;
}

/* 圖文 */
.container {
    max-width: 1920px;
}

.captionItem {
    padding-right: 0;
    padding-left: 0;
}

.caption h4 {
    font-weight: bold;
    font-size: 18px;
}

.caption p {
    font-size: 16px;
}

.caption {
    padding: 24px 24px 0
}

.caption h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.captionPic {
    width: 100%;
    height: 211px;
}

.captionPic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 註冊 */
.fileTxt:focus {
    box-shadow: 0 0 0 0.2rem rgb(146 193 255); 
    }
.accordion{
    width: 100%;
}
.fileOne,.fileTwo,.fileThree,.fileFour,.fileFive{
    padding:15px 30px;
}
.fileTxt{
    color: black;
}
.signInItem .signIn {
    margin: 28px 0;
}
.description {
    font-size: 12px;
    margin: 24px 0;
}

.deliverBtnAndSignIn .btn {
    padding: 14px 25px;
}
.deliverBtnAndSignIn{
    margin-bottom: 10px;
}

.deliverSignIn {
    font-size: 12px;
    margin-top: 10px;
}

.deliverSignIn span {
    margin-right: 4px;
}
@@media screen and (min-width: 768px) and (max-width:991px) {
    .captionPic {
        width: 100%;
        height: 500px;
    }

    .deliverBtnAndSignIn {
        display: flex;
        align-items: baseline;
        margin-bottom: 10px;
    }

    .deliverSignIn {
        margin-left: 15px;
    }

}

@@media screen and (min-width: 992px) {
    .caption h1 {
        font-size: 52px;
    }

    .caption {
        padding: 64px;
    }

    .captionPic {
        width: 80%;
        height: 50%;
        margin: auto;
    }

    .captionPic img {
        width: 100%;
        height: 500px;
    }

    .signInItem {
        padding: 73px;
    }

    .personalInfo {
        line-height: 33px;
    }

    .deliverBtnAndSignIn {
        display: flex;
        align-items: baseline;
    }

    .deliverSignIn {
        margin-left: 15px;
    }
}

@@media screen and (min-width: 1025px) {
    .captionPic img {
        height: 350px;
    }
}
    </style>
}


