<main>
    <div class="combined">
        <div class="leftHand">
            <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/c51b2a12396d63d49b5272de6efa283d.svg">
        </div>
        <div class="rightHand">
            <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/20ba4b515027b1df6fc46f493e755b2d.svg">
        </div>
        <div class="core">
            <!-- 區段1手 -->
            <div class="hands">
                <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/c6919ce3256ac0b0c6b47731fc015a85.svg">
            </div>
            <!-- 區段2中間文字 -->
            <div class="container">
                <h3>將美食好禮贈給親友</h3>
                <div class="linksP">
                    <div>您的好友第一次訂購餐點時，好友和您都能獲得優惠。</div>
                    <a href="#">查看詳細資訊</a>
                </div>
                <div class="discount">
                    <div class="col">
                        <div class="textRound">
                            <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/68cbf91102bb9549aa43943fc4e17909.svg"
                                 width="20">
                        </div>
                        <div class="disText">
                            <div class="tText">您可享 $100 折扣優惠</div>
                            <div class="pText">訂購金額須滿 $150 方可使用</div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="textRound">
                            <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/3fcf951a2367054914e05d4623326fc1.svg">
                        </div>
                        <div class="disText">
                            <div class="tText">他們可獲得 $200 折扣優惠</div>
                            <div class="pText">2 筆訂單可享 $100 折扣優惠 • 訂購金額須滿 $150 方可使用</div>
                        </div>
                    </div>
                </div>
                <div class="col2">
                    <div class="disCode">
                        shongs-n987fhcgu
                    </div>
                    <div class="cop">
                        <a href="#" class="btn btn-light btn-sm rounded-pill" role="button"
                           aria-pressed="true">複製</a>
                    </div>
                </div>

            </div>

        </div>
        <!-- 區段3按鈕區 -->
        <div class="btns">
            <a href="#" class="btn btn-dark btn-sm rounded-pill" role="button" aria-pressed="true">
                <i class="fab fa-facebook-square"></i>分享
            </a>
            <a href="#" class="btn btn-dark btn-sm rounded-pill" role="button" aria-pressed="true">
                <i class="fab fa-twitter"></i>分享
            </a>
            <a href="#" class="btn btn-dark btn-sm rounded-pill" role="button" aria-pressed="true">
                <i class="fas fa-envelope"></i>傳送電子郵件
            </a>
        </div>
        <div class="pBtns">
            <a href="#" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">邀請好友</a>
        </div>
    </div>




</main>


@section topCSS
    {
    <style>
        .hands {
            margin: 24px 0 24px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .leftHand {
            display: none;
        }

        .rightHand {
            display: none;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .core {
            position: relative;
        }

        h3 {
            margin: 0 0 8px 0;
            font-size: 36px;
            display: block;
            font-weight: 500;
            text-align: center;
        }

        .linksP {
            margin: 0 0 12px 0;
            display: block;
            line-height: 20px;
            font-size: 14px;
            text-align: center;
        }

        .disText {
            margin: 0 0 24px 0;
        }

        .tText {
            font-size: 18px;
            font-weight: 500;
        }

        .pText {
            color: rgb(117, 117, 117);
            font-size: 14px;
        }

        .col {

            display: flex;
        }

        .textRound {
            min-width: 40px;
            height: 40px;
            margin: 0 12px 0 0;
            display: flex;
            background-color: rgb(245, 245, 245);
            border-radius: 50%;
            justify-content: center;
            align-items: center;

        }

        .col2 {
            max-width: 350px;
            min-width: 90%;
            padding: 12px 0 12px 0;
            background-color: rgb(245, 245, 245);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .disCode {
            padding: 0 16px 0 16px;
        }

        .btns {
            display: none;
            max-width: 100%;
            min-width: 490px;
            margin: 32px 0 80px 0;
            justify-content: center;
        }

        .pBtns {
            margin: 24px auto;
            max-width: 300px;
            min-width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        @@media screen and (min-width:992px) {
            .combined {
                min-width: 1024px;
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
            }

            .container {
                position: relative;
                display: flex;
                margin: 24px auto auto;
                width: 410px;
                min-width: 410px;
                flex-direction: column;
                align-items: center;
            }

            .core {

                display: flex;

            }

            .hands {
                display: none;
            }

            .leftHand {
                position: absolute;
                display: block;
                top: 208px;
                left: 0;

                z-index: 1;
            }

            .rightHand {
                position: absolute;
                display: block;
                top: 208px;
                right: 0;

                z-index: 2;
            }

            h3 {
                margin: 0 0 8px 0;
                font-size: 36px;
                display: block;
                font-weight: 500;
            }

            .linksP {
                margin: 0 0 12px 0;
                display: block;
                line-height: 20px;
                font-size: 14px;
                text-align: center;
            }

            .disText {
                margin: 0 0 24px 0;
            }

            .tText {
                font-size: 18px;
                font-weight: 500;
            }

            .pText {
                color: rgb(117, 117, 117);
                font-size: 14px;
            }

            .col {

                display: flex;
            }

            .textRound {
                min-width: 40px;
                height: 40px;
                margin: 0 12px 0 0;
                display: flex;
                background-color: rgb(245, 245, 245);
                border-radius: 50%;
                justify-content: center;
                align-items: center;

            }

            .col2 {
                max-width: 410px;
                min-width: 410px;
                padding: 12px 0 12px 0;
                background-color: rgb(245, 245, 245);
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .disCode {
                padding: 0 16px 0 16px;
            }

            .cop {
                padding: 0 8px 0 8px;

            }

            .btns {
                display: flex;
                max-width: 100%;
                min-width: 490px;
                margin: 32px 0 80px 0;
                justify-content: center;
            }

            .rounded-pill {
                margin: 0 4px 0 4px;
            }

            .fab,
            .fas {
                margin: 0 8px 0 0;
            }

            .pBtns {
                display: none;
            }
        }
    </style>
    }