@model List<OrderListViewModel>

<div class="container">
    
    <div class="row">
        <div class="col-12 mb-4">
            <h1 class="font-weight-bold passOrder mt-4">過去的訂單</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 historyItem mb-3">
            <div class="imgDiv">
                <img src="https://picsum.photos/300/100/?random=1">
            </div>
            <div class="itemGroup ml-2">
                <div class="historyStore d-flex">
                    <a href="https://www.ubereats.com/tw/store/%E6%B5%B7%E5%A5%B3%E5%92%96%E5%95%A1-%E6%A5%A0%E6%A2%93%E5%BA%97/bKsuO4h6Q8GAHz4gQDn5Dg">海女咖啡 楠梓店</a>
                    <div>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="itemTitleDiv">
                    <div class="itemTitle ">
                        4 份餐點，共 <div class="itemTitlePrice mx-1">$0.00</div> • 8月23日 的 下午02:05
                    </div>
                </div>
                <ul>
                    <li class="d-flex">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    甜澄茉莉咖啡
                                </div>
                            </div>
                            <div>
                                <span>
                                    中 (360 毫升)
                                </span>
                            </div>
                        </div>
                    </li>

                    <li class="d-flex">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    舒芙蕾
                                </div>
                            </div>
                            <div>
                                <span>
                                    原味蜂蜜 • 不要伊思尼鮮奶油
                                </span>
                            </div>
                        </div>

                    </li>
                    <li class="d-flex">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    熱黑糖拿鐵
                                </div>
                            </div>
                            <div>
                                <span>
                                    中 (360 毫升)
                                </span>
                            </div>
                        </div>
                    </li>

                    <li class="d-flex">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    巴斯克乳酪蛋糕
                                </div>
                            </div>
                            <div>
                                <span>
                                    中 (360 毫升)
                                </span>
                            </div>
                        </div>
                    </li>

                    <li class="sample">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    珍珠奶茶
                                </div>
                            </div>
                            <div>
                                <span>
                                    無糖去冰
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="d-flex showContent mb-4">
                    <span>顯示更多內容</span>
                    <div class="iconDiv d-flex">
                        <i class="fas fa-chevron-down icon mx-2"></i>
                    </div>
                </div>
            </div>
            <div class="checkRes">
                <a href="#">檢視餐廳</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 historyItem mb-3">
            <div class="imgDiv">
                <img src="https://picsum.photos/300/100/?random=1">
            </div>
            <div class="itemGroup ml-2">
                <div class="historyStore">
                    <a href="https://www.ubereats.com/tw/store/%E6%B5%B7%E5%A5%B3%E5%92%96%E5%95%A1-%E6%A5%A0%E6%A2%93%E5%BA%97/bKsuO4h6Q8GAHz4gQDn5Dg">海女咖啡 楠梓店</a>
                </div>
                <div class="itemTitleDiv">
                    <div class="itemTitle ">
                        4 份餐點，共 <div class="itemTitlePrice mx-1">$0.00</div> • 8月23日 的 下午02:05
                    </div>
                </div>
                <ul>
                    <li class="d-flex">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    甜澄茉莉咖啡
                                </div>
                            </div>
                            <div>
                                <span>
                                    中 (360 毫升)
                                </span>
                            </div>
                        </div>
                    </li>

                    <li class="d-flex">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    舒芙蕾
                                </div>
                            </div>
                            <div>
                                <span>
                                    原味蜂蜜 • 不要伊思尼鮮奶油
                                </span>
                            </div>
                        </div>

                    </li>
                    <li class="d-flex">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    熱黑糖拿鐵
                                </div>
                            </div>
                            <div>
                                <span>
                                    中 (360 毫升)
                                </span>
                            </div>
                        </div>
                    </li>

                    <li class="d-flex">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    巴斯克乳酪蛋糕
                                </div>
                            </div>
                            <div>
                                <span>
                                    中 (360 毫升)
                                </span>
                            </div>
                        </div>
                    </li>

                    <li class="d-flex sample">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    珍珠奶茶
                                </div>
                            </div>
                            <div>
                                <span>
                                    無糖去冰
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="d-flex showContent mb-4">
                    <span>顯示更多內容</span>
                    <div class="iconDiv d-flex">
                        <i class="fas fa-chevron-down icon mx-2"></i>
                    </div>
                </div>
            </div>
            <div class="checkRes">
                <a href="#">檢視餐廳</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 historyItem">
            <div class="imgDiv">
                <img src="https://picsum.photos/300/100/?random=2">
            </div>
            <div class="itemGroup ml-2">
                <div class="historyStore">
                    <a href="https://www.ubereats.com/tw/store/%E6%B5%B7%E5%A5%B3%E5%92%96%E5%95%A1-%E6%A5%A0%E6%A2%93%E5%BA%97/bKsuO4h6Q8GAHz4gQDn5Dg">BS滷肉飯 忠孝復興店</a>
                </div>
                <div class="itemTitleDiv">
                    <div class="itemTitle ">
                        4 份餐點，共 <div class="itemTitlePrice mx-1">$0.00</div> • 8月23日 的 下午02:05
                    </div>
                </div>
                <ul>
                    <li class="d-flex">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    甜澄茉莉咖啡
                                </div>
                            </div>
                            <div>
                                <span>
                                    中 (360 毫升)
                                </span>
                            </div>
                        </div>
                    </li>

                    <li class="d-flex">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    舒芙蕾
                                </div>
                            </div>
                            <div>
                                <span>
                                    原味蜂蜜 • 不要伊思尼鮮奶油
                                </span>
                            </div>
                        </div>

                    </li>
                    <li class="d-flex">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    熱黑糖拿鐵
                                </div>
                            </div>
                            <div>
                                <span>
                                    中 (360 毫升)
                                </span>
                            </div>
                        </div>
                    </li>

                    <li class="d-flex">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    巴斯克乳酪蛋糕
                                </div>
                            </div>
                            <div>
                                <span>
                                    中 (360 毫升)
                                </span>
                            </div>
                        </div>
                    </li>

                    <li class="d-flex sample">
                        <div class="number border d-flex">
                            1
                        </div>
                        <div>
                            <div>
                                <div>
                                    珍珠奶茶
                                </div>
                            </div>
                            <div>
                                <span>
                                    無糖去冰
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="d-flex showContent mb-4">
                    <span>顯示更多內容</span>
                    <div class="iconDiv d-flex">
                        <i class="fas fa-chevron-down icon mx-2"></i>
                    </div>
                </div>
            </div>
            <div class="checkRes">
                <a href="#">檢視餐廳</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="d-flex my-4 showRestaurant">
                <button type="button" class="btn btn-lg btn-block rounded-0 d-flex">
                    <span>顯示更多內容</span>
                </button>
            </div>
        </div>
    </div>
</div>

@section topCSS{
    <script src="https://kit.fontawesome.com/4f9a2aa392.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: sans-serif;
        }

        .container-fluid {
            max-width: 1920px;
        }

        nav {
            height: 80px;
            width: auto;
            background-color: white;
            position: fixed;
        }

        .passOrder {
            font-size: 24px;
        }

        .imgDiv {
            width: 100%;
            height: 140px;
            padding-right: 0px;
        }

        .imgDiv img {
            width: 100%;
            height: 100%;
        }

        .historyItem {
            border-bottom: 1px solid rgb(238, 238, 238);
        }

        .historyStore a {
            font-weight: bolder;
        }

        .historyItem a {
            text-decoration: none;
            color: black;
            font-size: 18px;
        }

        .number {
            margin-right: 16px;
            font-size: 14px;
            line-height: 20px;
        }

        .itemTitle {
            font-size: 12px;
            margin-top: 8px;
        }

        .itemGroup {
            flex-grow: 1;
            padding-right: 24px;
        }

            .itemGroup span {
                font-size: 12px;
            }

        .checkRes {
            background-color: black;
            width: 100%;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .checkRes a {
                color: white;
                display: block;
                text-align: center;
                width: 100%;
            }

        ul {
            padding-left: 0px;
            margin-top: 16px;
        }

        li {
            list-style: none;
            margin-top: 16px;
            font-size: 14px;
        }

        .number {
            height: 24px;
            width: 24px;
            justify-content: center;
            text-align: center;
        }

        .iconDiv {
            justify-content: center;
            align-items: center;
        }

        .historyStore {
            margin-top: 8px;
        }

            .historyStore a {
                padding-right: 10px;
            }

            .historyStore i {
                color: rgb(255, 192, 67);
                font-size: 10px;
            }

        .sample {
            display: none;
        }

        .showIcon {
            display: flex;
        }

        .showContent span {
            font-size: 14px;
        }

        .itemTitle {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .showRestaurant {
            display: none;
        }
            .showRestaurant span {
                color: white;
                font-size: 18px;
            }

        .checkResSample {
            background-color: black;
            width: 302px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .checkResSample a {
                color: white;
                display: block;
                text-align: center;
                width: 100%;
            }

             

        /* 桌機 */
        @@media screen and (min-width: 992px) {
            .historyItem {
                display: flex;
                border-bottom: 1px solid rgb(238, 238, 238);
                padding-left: 0px;
                padding-right: 0px;
            }

            .imgDiv {
                width: 302px;
                height: 140px;
                padding-right: 24px;
            }

           .imgDiv img {
                width: 100%;
                height: 100%;
            }

            ul {
                padding-left: 0px;
                margin-top: 16px;
            }

            li {
                list-style: none;
                margin-top: 16px;
                font-size: 16px;
            }

            .itemTitle {
                font-size: 14px;
                margin: 4px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .itemTitlePrice {
                font-size: 18px;
            }

            .historyStore {
                margin-top: 0px;
            }

                .historyStore a {
                    font-size: 20px;
                }

                .historyStore i {
                    color: rgb(255, 192, 67);
                    font-size: 16px;
                }

            .itemGroup {
                flex-grow: 1;
                padding-right: 24px;
            }

                .itemGroup span {
                    font-size: 14px;
                }

            .number {
                height: 24px;
                width: 24px;
                justify-content: center;
                text-align: center;
                font-size: 16px;
            }

            .checkRes {
                background-color: black;
                width: 302px;
                height: 56px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .checkRes a {
                    color: white;
                    display: block;
                    text-align: center;
                    width: 100%;
                }

            .showContent span {
                font-size: 16px;
            }

            .showRestaurant {
                justify-content: center;
                align-items: center;
            }

                .showRestaurant button {
                    background-color: black;
                    width: auto;
                }

                .showRestaurant span {
                    color: white;
                    font-size: 18px;
                    width: 140px;
                }

            .shippingAddressDiv {
                display: none;
            }

            .shippingAddressGroup {
                display: none;
            }

            .passOrder {
                font-size: 36px;
            }
        }
    </style>


}

@section endJS{
    <script>
        let showIcon = document.querySelector('.iconDiv')
        let showContent = document.querySelector('.showContent')
        let sample = document.querySelector('.sample')
        showIcon.addEventListener('click', function () {
            if (showContent.style.display == 'flex') {
                showContent.style.display = 'none'
                showIcon.style.display = 'none'
                sample.style.display = 'flex'
            }
            else {
                showContent.style.display = 'flex'
                showIcon.style.display = 'flex'
                sample.style.display = 'none'
            }
        })
        let showRestaurant = document.querySelector('.showRestaurant')
        let historyItemSample = document.querySelector('#historyItemSample')
                // 延遲載入





    </script>


}