

@*@model MemberProfileViewModel*@

<div class="personalGroup container">
    <div class="personalInfo">
        <h2>會員資料修改</h2>
        <div class="name">
            <label for="text">姓名</label>
            <input type="text" id="text" value="@*@Model.FullName*@">
        </div>
        <div class="phone">
            <label for="tel">電話</label>
            <input type="tel" id="tel" value="@*@Model.Cellphone*@">
        </div>
        <div class="address">
            <div class="addressTxt">聯絡地址</div>
            <select name="縣市" id="">
                <option value>@*@Model.Zipcode*@</option>
                <option value="100">100台北市中正區</option>
                <option value="103">103台北市大同區</option>
                <option value="104">104台北市中山區</option>
                <option value="105">105台北市松山區</option>
                <option value="106">106台北市大安區</option>
                <option value="108">108台北市萬華區</option>
                <option value="110">110台北市信義區</option>
                <option value="111">111台北市士林區</option>
                <option value="112">112台北市北投區</option>
                <option value="114">114台北市內湖區</option>
                <option value="115">115台北市南港區</option>
                <option value="116">116台北市文山區</option>
            </select>
        </div>
        <input class="addressInput" type="text">
        <div class="carrier">
            <div class="carrierTxt">發票歸戶</div>
            <a href="https://einvoice.nat.gov.tw/APCONSUMER/BTC103W/">會員載具歸戶</a>
        </div>
        <div class="member">
            <div class="memberTxt">會員狀態</div>
            <label>
                <input type="radio" name="member">
                一般會員
            </label>
            <label>
                <input type="radio" name="member">
                優饗會員
            </label>
        </div>
        <div class="email">
            <div class="emailTxt">電子郵件</div>
            <div class="emailInfo">@*@Model.Email*@</div>
        </div>

        <button type="button" class="saveBtn btn btn-primary">儲存變更</button>

        <div class="app">
            <h4>授權的應用程式</h4>
            <h4>您沒有任何授權的應用程式</h4>
        </div>
    </div>
</div>

@section topCSS
{
    <style>
        * {
            font-size: 18px;
        }

        .container {
            max-width: 1920px;
        }

        .personalGroup {
            display: flex;
        }

        .personalInfo {
            margin: 23px auto;
        }

            .personalInfo h2 {
                font-size: 20px;
            }

        .layout {
            height: 60px;
            background: red;
        }
        /* name */
        .name {
            display: flex;
            align-items: center;
            margin-top: 16px;
        }

            .name label {
                margin-right: 48px;
            }

        .emailInfo, .app h4 {
            font-weight: bold;
        }
        /* phone */
        .phone {
            margin-bottom: 16px;
        }

            .phone label {
                width: 100px;
                margin: 16px 16px 0 0;
            }
        /* address */
        .address {
            display: flex;
        }

            .address select {
                margin-bottom: 15px;
                background-color: #F6F6F6;
            }

        .addressTxt {
            width: 98px;
            margin-right: 22px;
        }

        .addressInput {
            margin-left: 120px;
            margin-bottom: 16px;
        }
        /* carrier */
        .carrier {
            display: flex;
            margin-bottom: 16px;
        }

        .carrierTxt {
            width: 98px;
            margin-right: 22px;
        }
        /* member */
        .member {
            display: flex;
        }

        .memberTxt {
            width: 98px;
            margin-right: 22px;
        }

        .member label:nth-of-type(2) {
            margin: 0 19px;
        }
        /* email */
        .email {
            display: flex;
            margin-bottom: 16px;
        }

        .emailTxt {
            width: 98px;
            margin-right: 22px;
        }
        /* saveBtn */
        .saveBtn {
            margin-bottom: 16px;
        }
        /* app */
        .app h4 {
            font-size: 16px;
        }
    </style>
}

