@model SearchViewModel

@using (Html.BeginForm())
{
    <label for="keyword">請輸入產品關鍵字:</label>
    @Html.TextBox("keyword")

    <input type="submit" value="搜尋" class="btn btn-primary" />
}

@if (Model != null && Model.StoreCards.Count() > 0)
{
    <table class="table table-bordered table-hover table-striped">

        <tbody>
            @foreach (var item in Model.StoreCards)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.StoreId)</td>
                    <td>@Html.DisplayFor(m => item.StoreImg)</td>
                    <td>@Html.DisplayFor(m => item.StoreName)</td>
                </tr>
            }
        </tbody>
    </table>
}

