@{
    var discounts = new HolyShong.Services.DiscountService().GetDiscountByMemberId();
}

<!-- 優惠Modal -->
<div class="modal fade" id="discountModal" tabindex="-1" aria-labelledby="discountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="discountModalLabel">優惠</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button class="btn px-3 py-2" data-toggle="modal" data-target="#ONdiscountModal"
                        id="discountAdd">
                    新增優惠
                </button>
                <div class="discount-body">
                    <!-- 優惠內容 -->
                    @foreach (var discount in discounts)
                    {
                        <div class="discount-item d-flex my-3 py-3 justify-content-between">
                            <div>
                                <div class="discount-txt">@discount.DiscountName</div>
                                <div>請於 @discount.EndTime 前使用</div>
                            </div>
                        </div>
                    }

                    @*購物車結帳頁面使用*@
                    @*<div class="discount-item d-flex my-3 py-3 justify-content-between">
            <div>
                <div class="discount-txt">40% 折扣優惠 (最多可折抵 $100)</div>
                <div>2021 年 12 月 26 日 上午 12 時</div>
            </div>
            <label>
                <input type="radio" name="dicountCheck" value="@Model.DiscountMemberId" class="d-none" />
                <span>可選取</span>
            </label>
        </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark py-3 w-100" data-dismiss="modal">完成</button>
            </div>
        </div>
    </div>
</div>

<!-- ON 優惠Modal -->
<div class="modal fade" id="ONdiscountModal" tabindex="-1" aria-labelledby="ONdiscountModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ONdiscount-body">
                    <h4 class="modal-title mb-3" id="ONdiscountModalLabel">是否有優惠序號？</h4>
                    <input type="text" placeholder="新增優惠序號">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark py-3 w-100" data-dismiss="modal" onclick="AcquireDiscount()">套用</button>
            </div>
        </div>
    </div>
</div>