@*@model SearchViewModel
    @{
    //var searchModel = Model == null ? new SearchViewModel() { StoreCards = new List<StoreCard>()} : Model
    }*@

<!-- 副分類 -->
<div id="subcategory" class="subcategory p-3 mb-2 text-dark align-items-start sticky-top mw-100">
    <!-- 副分類標籤 -->
    <div>
        <h1 style="font-size: 28px; font-weight: 700;">{{Keyword == '' ? '所有餐廳門市' : `[${Keyword}]`}}</h1>
        @*<span style="font-size:16px">「@ViewBag.keyword」的 @Model.StoreCards.Count()+筆結果</span>*@
        <span v-if="Keyword != ''" style="font-size:16px">「{{ Keyword }}」的 {{SearchCount}} +筆結果</span>
    </div>
    <!-- 副分類選項 -->
    <ul uk-accordion="multiple: true">
        <li class="uk-open">
            <a class="uk-accordion-title" href="#">分類</a>
            <!-- 分類選項 -->
            <div class="uk-accordion-content">

                <div class="form-check">
                    <input v-model="Type" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="1"
                           checked>
                    <label class="form-check-label" for="exampleRadios1">
                        您專屬的推薦餐點
                    </label>
                </div>
                <!-- 間隔區塊 -->
                <div class="form-check-space"></div>
                <div class="form-check">
                    <input v-model="Type" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="2">
                    <label class="form-check-label" for="exampleRadios2">
                        熱門餐點
                    </label>
                </div>
                <!-- 間隔區塊 -->
                <div class="form-check-space"></div>
                <div class="form-check">
                    <input v-model="Type" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="3">
                    <label class="form-check-label" for="exampleRadios3">
                        評分
                    </label>
                </div>
                <!-- 間隔區塊 -->
                <div class="form-check-space"></div>
                <div class="form-check">
                    <input v-model="Type" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="4">
                    <label class="form-check-label" for="exampleRadios4">
                        配送時間
                    </label>
                </div>

            </div>
        </li>


        <!-- 價格區間 -->
        <li class="uk-open">
            <a class="uk-accordion-title" href="#">價格範圍</a>
            <div class="uk-accordion-content">
                <div>
                    <button type="button" class="btn rounded-pill" v-on:click="selectPriceRange('0-100')">
                        <div class="font-weight-bold">$</div>
                    </button>

                    <button type="button" class="btn  rounded-pill" v-on:click="selectPriceRange('100-200')">
                        <div class="font-weight-bold">$$</div>
                    </button>

                    <button type="button" class="btn  rounded-pill" v-on:click="selectPriceRange('200-500')">
                        <div class="font-weight-bold">$$$</div>
                    </button>

                    <button type="button" class="btn rounded-pill" v-on:click="selectPriceRange('500-99999')">
                        <div class="font-weight-bold">$$$$</div>
                    </button>
                </div>
            </div>
        </li>

        <!-- 外送費選擇條 -->
        <li class="uk-open">
            <a class="uk-accordion-title" href="#">外送費上限</a>
            <div class="uk-accordion-content">
                <div>
                    <input v-model="DeliveryFee" type="range" class="custom-range" min="0" max="3" id="customRange">
                    <div class="d-flex justify-content-between">
                        <div>NT$25</div>
                        <div>NT$40</div>
                        <div>NT$60</div>
                        <div>NT$60+</div>
                    </div>
                </div>
            </div>
        </li>

        <!-- 確認搜尋按鈕-->
        <div id="restrict-container" class="uk-accordion-content">
            <div class="bottom-wrap d-flex flex-row-reverse">
                <button type="button" class="btn" v-on:click="search">確定</button>
            </div>
        </div>
    </ul>

</div>

